/* stylesheet */

*
{
    /* outline: 2px solid red; */ /*for debugging*/
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*gallery classes*/

.bodyDiv
{
    Width: auto;
    Height: auto;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.navDiv
{
    Height: 110px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homeDiv
{
    width: 100px;
    height: 100px;
    border-radius: 64px;
    flex-shrink: 0;
    /* margin-right: auto; */
    margin-left: 10px;
}
.homeImage
{
    width: 100px;
    height: 100px;
    border-radius: 64px;
}
.nsedboredDiv
{
    font-size: 75px;
    font-weight: 800px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.instagramDiv
{
    width: 45px;
    height: 45px;
    border-radius: 12px;
    margin-right: 10px;
}
.instagramImage
{
    width: 45px;
    height: 45px;
}
.galleryHeadingDiv
{
    font-weight: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 34px;
}
.spaceDiv /*optional*/
{
    height: 40px;
}
.bodyEntryDiv
{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    gap: 50px;
}
.entryDiv /*gallery entry class*/
{
    justify-content: flex-start;
    /* align-content: center; */
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
}
.textEntryDiv /*text div of a gallery entry*/
{
    width: 750px;
    height: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.entryHeadingsDiv /*heading div of a gallery entry*/
{
    font-size: 75px;
    text-align: center;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.entryParagraphDiv
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    width: 700px;
    height: auto;
    
}
.imageVertDiv /*vertical image div of a gallery entry*/
{
    width: 750px;
    height: 940px;
    contain: content;
    border-radius: 16px;
}
.imageVert
{
    width: 750px;
    height: auto;
}
.footerDiv
{
    margin-top: 40px;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}
/*entry classes*/

.modeSonnetXchaosTheory
{
    margin-top: -60px;
}